{% extends "pingdoktor/base.html" %}
{% load static %}

{% block head %}
<link href="{% static "src/css/doctor.css" %}" rel="stylesheet"></link>

{% endblock %}

{% block body %}
<div class="d-flex">
  <nav class="visitor-panels" id="sidebar">
    <div class="container">
      <!--
      <div class="sidebar-header text-center">
        <h2>CURRENT</h2>
      </div>
    -->
      <div class="text-center m-2">
        <h3>Patient waitlist</h3>
      </div>
      <hr>
      <div>
        <div id="visitor-panel-list">
          <!--Panels-->
          <!--Panel example-->
          {% for visitor in visitors %}
           <div class="card visitor-panel container" id="{{visitor.id}}">
            <div class="row">
              <!--Left side containing visitor information-->
              <div class="col-10">
                <div class="row">
                  <div class="col-7">
                    <h5 class="card-title m-1 float-left panel-first-name">{{ visitor.first_name }}</h5>
                    <h5 class="card-title m-1 float-left panel-last-name">{{ visitor.last_name }}</h5>
                  </div>
                  <div class="col-5">
                    <!--Arrival times for the visitors-->
                    <h6 class="mt-2 text-muted float-right panel-datetime">{{ visitor.arrival_time|date:"H:i d M Y" }}</h6>
                  </div>
                </div>
                <div class="ml-2" id="description-block">
                  <h6>Description</h5>
                  <div class="panel-text p-1 m-0">
                    {{ visitor.description }}
                  </div>  
                </div>
              </div>
              <!-- right side containing a clicky button-->
              <div class="col-2 center-block text-center panel-button">
                <div class="send-next align-center">
                  <p>See Next</p>
                  <p class="fas fa-caret-right panel-glyph"></p>  
                </div>
              </div>
            </div>
          </div> 
          {% endfor %}
          <!--End panel-->
        </div>
      </div>  
    </div>
    
  </nav>
  <div class="container" id="content">
    <div class="row m-2">
      <!-- Current patient information -->
      <div class="col">
        <div id="focus">
          <h3>Current Patient</h2>
          <hr>
          <div class="mt-1">
            <div class="clearfix">
            <h3 class="mt-2 float-left">Name: <small id="focus-first-name">John</small> <small id="focus-last-name">Smith</small></h3>
            <h3 class="mt-2 float-right">Registration Time: <small id="focus-datetime">24:00 June 24</small></h3>
          </div>
          <h4>ID: <small id="focus-patient-id">123456</small></h3>    
          </div>
          <div class="mt-2">
            <h4>Patient Description</h4>
            <div class="description-text p-1 m-0" id="focus-description">"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit qui in ea voluptate velit esse quam nihil molestiae consequatur, vel illum qui dolorem eum fugiat quo voluptas nulla pariatur?"
            </div> 
        </div>
        </div>
        
      </div>
      
  </div>
  </div>
  
</div>
{% endblock %}

{% block scripts %}
<script src="{% static "src/js/jquery-ui.js" %}"></script>
<script>
 $(function(){
  $("#visitor-panel-list").sortable();
  $("#visitor-panel-list").disableSelection();
 });
</script>
<script src="{% static "src/js/pages/doctor.js" %}"></script>
{% endblock %}