{% extends "pingdoktor/base.html" %}
{% load static %}

{% block head %}
<link href="{% static "src/css/doctor.css" %}" rel="stylesheet"></link>

{% endblock %}

{% block body %}
<div class="d-flex">
  <nav class="visitor-panels" id="sidebar">
    <div class="container">
      <!--
      <div class="sidebar-header text-center">
        <h2>CURRENT</h2>
      </div>
    -->
      <div class="text-center m-2">
        <h3>Patient waitlist</h3>
      </div>
      <hr>
      <div>
        <div id="visitor-panel-list">
          <!--Panels-->
          <!--Panel example-->
          {% for visitor in visitors %}
           <div class="card visitor-panel container" id="{{visitor.id}}">
            <div class="row">
              <!--Left side containing visitor information-->
              <div class="col-10">
                <div class="row">
                  <div class="col-7">
                    <h5 class="card-title m-1 float-left panel-first-name">{{ visitor.first_name }}</h5>
                    <h5 class="card-title m-1 float-left panel-last-name">{{ visitor.last_name }}</h5>
                  </div>
                  <div class="col-5">
                    <!--Arrival times for the visitors-->
                    <h6 class="mt-2 text-muted float-right panel-datetime">{{ visitor.arrival_time|date:"H:i d M Y" }}</h6>
                  </div>
                </div>
                <div class="ml-2" id="description-block">
                  <h6>Description</h5>
                  <div class="panel-text p-1 m-0">
                    {{ visitor.description }}
                  </div>  
                </div>
              </div>
              <!-- right side containing a clicky button-->
              <div class="col-2 center-block text-center panel-button">
                <div class="send-next align-center">
                  <p>See Next</p>
                  <p class="fas fa-caret-right panel-glyph"></p>  
                </div>
              </div>
            </div>
          </div> 
          {% endfor %}
          <!--End panel-->
        </div>
      </div>  
    </div>
    
  </nav>
  <div class="container" id="content">
    <div class="row m-2">
      <!-- Current patient information -->
      <div class="col">
        <div id="focus">
          <h3>Current Patient</h2>
          <hr>
          <div class="mt-1">
            <div class="clearfix">
            <h3 class="mt-2 float-left">Name: <small id="focus-first-name"></small> <small id="focus-last-name"></small></h3>
            <h3 class="mt-2 float-right">Registration Time: <small id="focus-datetime"></small></h3>
          </div>
          <h4>ID: <small id="focus-patient-id"></small></h3>    
          </div>
          <div class="mt-2">
            <h4>Patient Description</h4>
            <div class="description-text p-1 m-0" id="focus-description">
            </div> 
        </div>
        </div>
        
      </div>
      
  </div>
  </div>
  
</div>
{% endblock %}

{% block scripts %}
<script src="{% static "src/js/jquery-ui.js" %}"></script>
<script>
 // Constants requiring django template engine
 var doctor_url = "{% url "doctor" %}";
 var acknowledge_patient_url = "{% url "update" %}";
</script>
<script src="{% static "src/js/pages/doctor.js" %}"></script>
{% endblock %}