.outline {
	border: 1px solid black;
}

#current_patient {
	font-size: 600%
}

#header_box {
	margin-top: 2em;
	margin-bottom: 3em;
	/*border: 1px solid black;*/
}

.error {
	color: red;
	display: none;
}

#visitor_list_holder {
	/*display: flex;*/
	height: 32em;
	max-height: 32em;
	width:100%;
	overflow: auto;
	overflow-x: hidden;
    /*columns:2;*/
}

li{
	float: left;
	display: inline;
	width: 49%;
}

.scroll-list {
	/*height: 100%;*/
	/*max-width:100%;*/
	display:inline;
}

/*li:nth-child(even) {
    background-color: #D3D3D3;
  }
 */